{% extends "base.html" %}

{% block title %}Cheese List{%endblock title %}

{% block content %}
    <h2>Cheese List</h2>


<!-- use the url template tag to generate the absolute URL to the detail page. -->



<!-- we iterate through cheese_list which is provided to us by CheeseListView -->
    <ul>
        {% for cheese in cheese_list %}
            <li><a href="{% url 'cheeses:detail' cheese.slug %}">{{cheese.name}}</a></li>
        {% empty %}
            <p>No list. create a cheese</p>
        {% endfor %}
    </ul>
<hr/>
<p>Don't see a cheese listed?</p>
  <a class="btn btn-primary"
     href={% url 'cheeses:add' %} role="button">
  Add Cheese
  </a>
{% endblock content %}
