{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ view.action|default:"Add" }} Cheese{% endblock %}

{% block content %}
{% with action=view.action|default:"Add" %}
    <h1> {{ action }} = what is this? Cheese</h1>
    {{view}}
    <p> This should be the action =>{{view.action}} </p>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form | crispy }}
    <button type="submit" class="btn btn-primary">{{ action }}</button>
{% endwith%}
</form>
{% endblock %}
