{% extends "base.html" %}

{% block title %}Cheese List{%endblock title %}

{% block content %}
    <h2>Cheese List</h2>


<!-- use the url template tag to generate the absolute URL to the detail page. -->



<!-- we iterate through cheese_list which is provided to us by CheeseListView -->
{% if cheese_list %}
    <ul>
        {% for c in cheese_list %}

        <li><a href="{% url 'cheeses:detail' c.slug %}">{{c.name}}</a></li>
        {% endfor %}
    </ul>
{% else %}
  <p>No list. create a cheese</p>
{% endif %}

<hr/>
<p>Don't see a cheese listed?</p>
  <a class="btn btn-primary"
     href={% url 'cheeses:add' %} role="button">
  Add Cheese
  </a>
{% endblock content %}
